<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>fgsnvel@tznvy.pbz</string>
	<key>contactName</key>
	<string>Xiao Jia</string>
	<key>description</key>
	<string>Support for TypeScript.</string>
	<key>name</key>
	<string>TypeScript</string>
	<key>uuid</key>
	<string>1E0FA830-AE0C-11E3-A5E2-0800200C9A66</string>
</dict>
</plist>
